.container {
    background-color: black;
    color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

;

.image {
    width: 388px;
    background-color: black;
    margin-left: 50px;
}

.form {
    display: flex;
    padding: 42px;
}